<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-002<br>
W4111 - Introduction to Databases<br>
Section 003/V03, Fall 2022<br>
Take Home Final<br>
</p>

# Exam Instructions

- We will publish instructions on Ed.

# Environment Setup and Test

## MySQL

- Replace ```root``` and ```dbuserdbuser``` for the correct values for you MySQL instance from previous homework assignments and exams.


- You will need the [sample database](https://www.db-book.com/university-lab-dir/sample_tables-dir/index.html) that comes with the recommended textbook to execute the setup test.
    - You should have already installed the database because you need for previous assignments.
    - I named my database

In [1]:
%load_ext sql

In [22]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql select * from db_book.student

 * mysql+pymysql://root:***@localhost
13 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58')),
 ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')),
 ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')),
 ('98988', 'Tanaka', 'Biology', Decimal('120'))]

## Neo4j

- Please set the values for your Neo4j database below. 


- Make sure that your database is active. If you have not used it for a while, you need to log in through the website and restart the database.

In [4]:
neo4j_url = "neo4j+s://aae9f847.databases.neo4j.io"
neo4j_user = "neo4j"
neo4j_password = 'g2li6DznTfqReEIIiCgW34LRnJZbRiLS0188LQAcf9Q'

In [10]:
from py2neo import Graph

In [11]:
def t1():
    graph = Graph(neo4j_url, auth=(neo4j_user, neo4j_password))
    q = "match (r:Person) where r.name='Tom Hanks' return r"
    res = graph.run(q)

    for r in res:
        print(r)

- Please rerun the following cell.

In [13]:
t1()

Node('Person', born=1956, name='Tom Hanks')

## MongoDB

- Please set your URL for MongoDB Atlas and make sure that your cluster is not suspended.

In [14]:
mongodb_url = "mongodb+srv://dff9:AFvhYD5almxKn5C4@cluster0.t8qdk.mongodb.net/?retryWrites=true&w=majority"

In [15]:
import pymongo

In [19]:
def connect():
    client = pymongo.MongoClient(
        mongodb_url
    )
    return client


def t_connect():
    c = connect()
    print("Databases = ", list(c.list_databases()))

In [20]:
# 
# Note, you list of local databases will be different. The values do not matter.
#
t_connect()

Databases =  [{'name': 'GoT', 'sizeOnDisk': 532480, 'empty': False}, {'name': 'GoTR', 'sizeOnDisk': 491520, 'empty': False}, {'name': 'classicmodels', 'sizeOnDisk': 262144, 'empty': False}, {'name': 'cool_db', 'sizeOnDisk': 90112, 'empty': False}, {'name': 'hw4', 'sizeOnDisk': 405504, 'empty': False}, {'name': 'hw4recitation', 'sizeOnDisk': 40960, 'empty': False}, {'name': 'mydb', 'sizeOnDisk': 102400, 'empty': False}, {'name': 'mydbd', 'sizeOnDisk': 49152, 'empty': False}, {'name': 's22_final', 'sizeOnDisk': 81920, 'empty': False}, {'name': 'sss', 'sizeOnDisk': 40960, 'empty': False}, {'name': 'testdb', 'sizeOnDisk': 73728, 'empty': False}, {'name': 'xc2601', 'sizeOnDisk': 45056, 'empty': False}, {'name': 'xc2601_final', 'sizeOnDisk': 45056, 'empty': False}, {'name': 'zz2870', 'sizeOnDisk': 135168, 'empty': False}, {'name': 'zz2870_final', 'sizeOnDisk': 94208, 'empty': False}, {'name': 'admin', 'sizeOnDisk': 344064, 'empty': False}, {'name': 'local', 'sizeOnDisk': 17138139136, 'empty': False}]

# Written Questions $-$ General Knowledge

- The written questions require a short, succinct answer.


- Remember, "If you can't explain it simply, you don't understand it well enough."


- Some questions will research using the web, lecture slides, etc. You cannot cut and paste from sources. Your answer must show that you read the material and understand the concept.


- If you use a source other than lecture material, please provide a URL to the source(s) you read.

## G1

__Question:__ List at least two reasons why database systems support data manipulation using a declarative query language such as SQL, instead of just providing a library of C or C + + functions to carry out data manipulation.

__Answer:__

Enter answer.

## G2

__Question:__ List four significant differences between:
- Processing data by writing programs that manipulate files.
- Using a database management system and query language.

__Answer:__

Enter answer.

## G3

__Question:__ List five responsibilities (functionality provided) of a database-management system. For each responsibility, explain the potential problems that would occur with the functionality.

__Answer:__

Enter answer.

## G4

__Question:__ We all use SSOL to choose and register for classes. Another option would be to have a single Google sheet (shared spreadsheet) that we all use to register for classes. What are problems with using a shared spreadsheet?

__Answer:__

Enter answer.

## G5

__Question:__ NoSQL databases have become increasingly popular for supporting applications. List 3 benefits of or reasons for using NoSQL databases versus SQL/relational databases. List 3 benefits of relational databases versus NoSQL databases.

__Answer:__

Enter answer.

# Relational Model

## R1

__Question:__ A column in a relation (table) has a _type._ Consider implementing a ```date``` as ```CHAR(10)``` in the format ```YYYY-MM-DD.``` The lecture material states that attributes (column values) come from a _domain._ Using ```date``` explain the differenc between a _domain_ and a _type._

__Answer:__

Enter answer.

## R2

__Question:__ The domain for a relation (table) attribute (column) should be _atomic._ Why?

__Answer:__

Enter answer.

## R3

__Question:__ "In the US Postal System, a delivery point is a specific set of digits between 00 and 99 assigned to every address. When combined with the ZIP + 4 code, the delivery point provides a unique identifier for every deliverable address served by the United States Postal Service."

The lecture 2 slides provide a notation for representing a relation's schema. Assume we want to define a relation for US mailing addresses, and that the columns are:
- Zip code
- +4 code
- delivery_point
- address_line_1
- address_line_2
- city
- state

Use the notation to define the schema for an address. A simple example of an address's column values might be:
- Zip code: 10027
- +4 code: 6623
- delivery_point: 99
- address_line_1: 520 W 120th St
- address_line_2: Room 402
- city: New York
- state: NY

__Answer:__

Enter answer.

## R4

__Note:__ Use the [RelaX](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) calculator and the schema associated with the recommended textbook to answer this question. Your answer should contain:
- The text for the query.
- An image showing the query execution and result.

An example of the format is:

_Query_

```σ capacity >= 50 (classroom)```

_Execution_

<img src="Query-Answer-Example.png" width="500px">

__Question:__ Translate the following SQL statement into an equivalent relational algebra statement.

```
select
    *
from
    instructor
where
    dept_name in (select dept_name from department where budget >= 100000)

```

__Answer:__

Enter answer.

## R5

Use the same format to answer this question.

__Question__

Use the following query to compute a new table.

```
section_and_time =
	π course_id, sec_id, semester, year,
	day, start_hr, start_min (section ⨝ time_slot)
```

Using <u>only section_and_time,</u> write a relational algebra expression that returns a relation of overlapping courses of the form

```(course_id_1, sec_id_1, semester_1, year_1, course_id_2, sec_id_2, semester_2, year_2)```.

Your table <u>cannot container</u> duplicates. For example, a result containing

```
(BIO-101, 1, fall, 2022, MATH-101, 2, fall, 2022)
(MATH-101, 2, fall, 2022, BIO-101, 1, fall, 2022)
```

is incorrect.

__Answer:__

_Query_



_Execution_

# SQL

- You will use the [Classic Models tutorial database](https://www.mysqltutorial.org/mysql-sample-database.aspx), which you should have already loaded into MySQL.

## S1

__Question:__ Create a view ```employee_customer_sales``` with the following information:
- ```employeeNumber```
- ```employeeLastname```
- ```employeeFirstName```
- ```customerNumber```
- ```customerName```
- ```revenue```

- The employee information is for the employee that is the ```customer.customerRepEmployeeNumber```.
- ```revenue``` is the total revenue over all of the customer's orders.
    - The revenue for an ```order``` is ```priceEach*quantityOrdered``` for each ```orderdetails``` in the order.

__Answer:__

In [26]:
%%sql

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

__Test Answer:__

In [27]:
%sql select * from employee_customer_sales;

 * mysql+pymysql://root:***@localhost
98 rows affected.

[(1337, 'Bondur', 'Loui', 146, 'Saveley & Henriot, Co.', Decimal('130305.35')),
 (1337, 'Bondur', 'Loui', 353, 'Reims Collectables', Decimal('126983.19')),
 (1337, 'Bondur', 'Loui', 172, "La Corne D'abondance, Co.", Decimal('86553.52')),
 (1337, 'Bondur', 'Loui', 406, 'Auto Canal+ Petit', Decimal('86436.97')),
 (1337, 'Bondur', 'Loui', 350, 'Marseille Mini Autos', Decimal('71547.53')),
 (1337, 'Bondur', 'Loui', 250, 'Lyon Souveniers', Decimal('67659.19')),
 (1501, 'Bott', 'Larry', 187, 'AV Stores, Co.', Decimal('148410.09')),
 (1501, 'Bott', 'Larry', 201, 'UK Collectables, Ltd.', Decimal('106610.72')),
 (1501, 'Bott', 'Larry', 334, 'Suominen Souveniers', Decimal('103896.74')),
 (1501, 'Bott', 'Larry', 311, 'Oulu Toy Supplies, Inc.', Decimal('95706.15')),
 (1501, 'Bott', 'Larry', 186, 'Toys of Finland, Co.', Decimal('95546.46')),
 (1501, 'Bott', 'Larry', 324, 'Stylish Desk Decors, Co.', Decimal('80556.73')),
 (1501, 'Bott', 'Larry', 240, 'giftsbymail.co.uk', Decimal('71783.75')),
 (1501, 'Bott', 'Larry', 489, 'Double Decker Gift Stores, Ltd', Decimal('29586.15')),
 (1401, 'Castillo', 'Pamela', 382, 'Salzburg Collectables', Decimal('137480.07')),
 (1401, 'Castillo', 'Pamela', 145, 'Danish Wholesale Imports', Decimal('129085.12')),
 (1401, 'Castillo', 'Pamela', 278, 'Rovelli Gifts', Decimal('127529.69')),
 (1401, 'Castillo', 'Pamela', 386, "L'ordine Souveniers", Decimal('125505.57')),
 (1401, 'Castillo', 'Pamela', 227, 'Heintze Collectables', Decimal('89909.80')),
 (1401, 'Castillo', 'Pamela', 249, 'Amica Models & Co.', Decimal('82223.23')),
 (1401, 'Castillo', 'Pamela', 314, 'Petit Auto', Decimal('70851.58')),
 (1401, 'Castillo', 'Pamela', 452, 'Mini Auto Werke', Decimal('51059.99')),
 (1401, 'Castillo', 'Pamela', 381, 'Royale Belge', Decimal('29217.18')),
 (1401, 'Castillo', 'Pamela', 473, 'Frau da Collezione', Decimal('25358.32')),
 (1188, 'Firrelli', 'Julie', 320, 'Mini Creations Ltd.', Decimal('101872.52')),
 (1188, 'Firrelli', 'Julie', 379, 'Collectables For Less Inc.', Decimal('73533.65')),
 (1188, 'Firrelli', 'Julie', 495, 'Diecast Collectables', Decimal('65541.74')),
 (1188, 'Firrelli', 'Julie', 339, 'Classic Gift Ideas, Inc', Decimal('57939.34')),
 (1188, 'Firrelli', 'Julie', 204, 'Online Mini Collectables', Decimal('55577.26')),
 (1188, 'Firrelli', 'Julie', 173, 'Cambridge Collectables Co.', Decimal('32198.69')),
 (1611, 'Fixter', 'Andy', 114, 'Australian Collectors, Co.', Decimal('180585.07')),
 (1611, 'Fixter', 'Andy', 276, "Anna's Decorations, Ltd", Decimal('137034.22')),
 (1611, 'Fixter', 'Andy', 282, 'Souveniers And Things Co.', Decimal('133907.12')),
 (1611, 'Fixter', 'Andy', 471, 'Australian Collectables, Ltd', Decimal('55866.02')),
 (1611, 'Fixter', 'Andy', 333, 'Australian Gift Network, Co', Decimal('55190.16')),
 (1702, 'Gerard', 'Martin', 458, 'Corrida Auto Replicas, Ltd', Decimal('112440.09')),
 (1702, 'Gerard', 'Martin', 298, 'Vida Sport, Ltd', Decimal('108777.92')),
 (1702, 'Gerard', 'Martin', 216, 'Enaco Distributors', Decimal('68520.47')),
 (1702, 'Gerard', 'Martin', 484, 'Iberia Gift Imports, Corp.', Decimal('50987.85')),
 (1702, 'Gerard', 'Martin', 344, 'CAF Imports', Decimal('46751.14')),
 (1370, 'Hernandez', 'Gerard', 141, 'Euro+ Shopping Channel', Decimal('820689.54')),
 (1370, 'Hernandez', 'Gerard', 119, 'La Rochelle Gifts', Decimal('158573.12')),
 (1370, 'Hernandez', 'Gerard', 209, 'Mini Caravy', Decimal('75859.32')),
 (1370, 'Hernandez', 'Gerard', 171, 'Daedalus Designs Imports', Decimal('61781.70')),
 (1370, 'Hernandez', 'Gerard', 242, 'Alpha Cognac', Decimal('60483.36')),
 (1370, 'Hernandez', 'Gerard', 256, 'Auto Associés & Cie.', Decimal('58876.41')),
 (1370, 'Hernandez', 'Gerard', 103, 'Atelier graphique', Decimal('22314.36')),
 (1165, 'Jennings', 'Leslie', 124, 'Mini Gifts Distributors Ltd.', Decimal('591827.34')),
 (1165, 'Jennings', 'Leslie', 450, 'The Sharp Gifts Warehouse', Decimal('143536.27')),
 (1165, 'Jennings', 'Leslie', 321, 'Corporate Gift Ideas Co.', Decimal('132340.78')),
 (1165, 'Jennings', 'Leslie', 161, 'Technics Stores Inc.', Decimal('104545.22')),
 (1165, 'Jennings', 'Leslie', 129, 'Mini Wheels Co.', Decimal('66710.56')),
 (1165, 'Jennings', 'Leslie', 487, 'Signal Collectibles Ltd.', Decimal('42570.37')),
 (1504, 'Jones', 'Barry', 448, 'Scandinavian Gift Ideas', Decimal('120943.53')),
 (1504, 'Jones', 'Barry', 121, 'Baane Mini Imports', Decimal('104224.79')),
 (1504, 'Jones', 'Barry', 167, 'Herkku Gifts', Decimal('97562.47')),
 (1504, 'Jones', 'Barry', 259, 'Toms Spezialitäten, Ltd', Decimal('89223.14')),
 (1504, 'Jones', 'Barry', 128, 'Blauer See Auto, Co.', Decimal('75937.76')),
 (1504, 'Jones', 'Barry', 299, 'Norway Gifts By Mail, Co.', Decimal('69059.04')),
 (1504, 'Jones', 'Barry', 144, 'Volvo Model Replicas, Co', Decimal('66694.82')),
 (1504, 'Jones', 'Barry', 189, 'Clover Collections, Co.', Decimal('49898.27')),
 (1504, 'Jones', 'Barry', 415, 'Bavarian Collectables Imports, Co.', Decimal('31310.09')),
 (1612, 'Marsh', 'Peter', 323, 'Down Under Souveniers, Inc', Decimal('154622.08')),
 (1612, 'Marsh', 'Peter', 496, "Kelly's Gift Shop", Decimal('137460.79')),
 (1612, 'Marsh', 'Peter', 166, 'Handji Gifts& Co', Decimal('107746.75')),
 (1612, 'Marsh', 'Peter', 357, 'GiftsForHim.com', Decimal('94431.76')),
 (1612, 'Marsh', 'Peter', 412, 'Extreme Desk Decorations, Ltd', Decimal('90332.38')),
 (1621, 'Nishi', 'Mami', 148, 'Dragon Souveniers, Ltd.', Decimal('156251.03')),
 (1621, 'Nishi', 'Mami', 398, 'Tokyo Collectables, Ltd', Decimal('105548.73')),
 (1621, 'Nishi', 'Mami', 385, 'Cruz & Sons Co.', Decimal('87468.30')),
 (1621, 'Nishi', 'Mami', 177, 'Osaka Souveniers Co.', Decimal('62361.22')),
 (1621, 'Nishi', 'Mami', 211, 'King Kong Collectables, Co.', Decimal('45480.79')),
 (1216, 'Patterson', 'Steve', 363, 'Online Diecast Creations Co.', Decimal('116449.29')),
 (1216, 'Patterson', 'Steve', 157, 'Diecast Classics Inc.', Decimal('104358.69')),
 (1216, 'Patterson', 'Steve', 286, "Marta's Replicas Co.", Decimal('90545.37')),
 (1216, 'Patterson', 'Steve', 462, 'FunGiftIdeas.com', Decimal('88627.49')),
 (1216, 'Patterson', 'Steve', 362, 'Gifts4AllAges.com', Decimal('84340.32')),
 (1216, 'Patterson', 'Steve', 198, 'Auto-Moto Classics Inc.', Decimal('21554.26')),
 (1166, 'Thompson', 'Leslie', 205, 'Toys4GrownUps.com', Decimal('93803.30')),
 (1166, 'Thompson', 'Leslie', 239, 'Collectable Mini Designs Co.', Decimal('80375.24')),
 (1166, 'Thompson', 'Leslie', 112, 'Signal Gift Stores', Decimal('80180.98')),
 (1166, 'Thompson', 'Leslie', 475, 'West Coast Collectables Co.', Decimal('43748.72')),
 (1166, 'Thompson', 'Leslie', 347, "Men 'R' US Retailers, Ltd.", Decimal('41506.19')),
 (1166, 'Thompson', 'Leslie', 219, 'Boards & Toys Co.', Decimal('7918.60')),
 (1286, 'Tseng', 'Foon Yue', 151, 'Muscle Machine Inc', Decimal('177913.95')),
 (1286, 'Tseng', 'Foon Yue', 181, 'Vitachrome Inc.', Decimal('72497.64')),
 (1286, 'Tseng', 'Foon Yue', 455, 'Super Scale Inc.', Decimal('70378.65')),
 (1286, 'Tseng', 'Foon Yue', 424, 'Classic Legends Inc.', Decimal('69214.33')),
 (1286, 'Tseng', 'Foon Yue', 233, 'Québec Home Shopping Network', Decimal('68977.67')),
 (1286, 'Tseng', 'Foon Yue', 456, 'Microscale Inc.', Decimal('29230.43')),
 (1323, 'Vanauf', 'George', 131, 'Land of Toys Inc.', Decimal('149085.15')),
 (1323, 'Vanauf', 'George', 175, 'Gift Depot Inc.', Decimal('95424.63')),
 (1323, 'Vanauf', 'George', 328, 'Tekni Collectables Inc.', Decimal('81806.55')),
 (1323, 'Vanauf', 'George', 319, 'Mini Classics', Decimal('78432.16')),
 (1323, 'Vanauf', 'George', 486, 'Motor Mint Distributors Inc.', Decimal('77726.59')),
 (1323, 'Vanauf', 'George', 202, 'Canadian Gift Exchange Network', Decimal('70122.19')),
 (1323, 'Vanauf', 'George', 260, 'Royal Canadian Collectables, Ltd.', Decimal('66812.00')),
 (1323, 'Vanauf', 'George', 447, 'Gift Ideas Corp.', Decimal('49967.78'))]

## S2

__Question:__
- Below, there is a query that creates a view. Run the query.
- Using the view, write a query that produces a table of the form ```(productCode, productName)``` for products that no customer in Asia has ordered.
- For this questions purposes, the Asian countries are:
    - Japan
    - Singapore
    - Philipines
    - Hong King
- <u>You must not use a JOIN.</u>

In [29]:
#
# Create the view
#
%sql create or replace view orders_all as \
    select * from orders join orderdetails using(orderNumber)

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__Answer:__

In [63]:
%%sql

 * mysql+pymysql://root:***@localhost

## S3

__Question:__ 


- Use the ```customers``` and ```orders``` for this query.


- Shipping days is the number of days between ```orderDate``` and ```shippedDate.```


- Product a table of the form:
    - ```customerNumber```
    - ```customerName```
    - ```noOfOrders``` is the number of orders the customer placed.
    - ```averageShippingDays```, which is the average shipping days.
    - ```minimumShippingDays```, which is the minimum shipping days.
    - ```maximumShippingDays```, which is the maximum shipping days.
    
    
- The table should only contain entries where:
    - ```noOfOrders >= 3```
    - ```averageShippingDays >= 5``` or ```maximumShippingDays >= 10.```

__Answer:__

In [64]:
%%sql

 * mysql+pymysql://root:***@localhost

# Graph Database $-$ Neo4j

- You will use your online/cloud Neo4j database for these problems.


- You must have loaded the Movie sample data.

## N1

__Question:__


- The relationship ```REVIEWED``` connects a ```Person``` and ```Movie```, and has the properties ```rating``` and ```summary```.


- Write Python code using ```py2neo``` that produces the following table.

In [39]:
import pandas

__Answer:__

,reviewer_name,rating,rating_summary,movie_title
0,Angela Scope,62,Pretty funny at times,The Replacements
1,Jessica Thompson,68,A solid romp,The Da Vinci Code
2,Jessica Thompson,65,"Silly, but fun",The Replacements
3,Jessica Thompson,92,You had me at Jerry,Jerry Maguire
4,Jessica Thompson,95,An amazing journey,Cloud Atlas
5,Jessica Thompson,45,Slapstick redeemed only by the Robin Williams ...,The Birdcage
6,Jessica Thompson,85,"Dark, but compelling",Unforgiven
7,James Thompson,100,The coolest football movie ever,The Replacements
8,James Thompson,65,"Fun, but a little far fetched",The Da Vinci Code

## N2

__Question:__

- There are relationships ```ACTED_IN``` and ```DIRECTED``` between ```Person``` and ```Movie```.


- Write Python code that produces the following table that shows people or both acted in and directed a movie.

             Name              Title
0       Tom Hanks  That Thing You Do
1  Clint Eastwood         Unforgiven
2    Danny DeVito              Hoffa

# MongoDB

- Run the following code using your Atlas MongoDB.

In [51]:
import json

client = pymongo.MongoClient(
    mongodb_url
)

with open("./episodes.json") as e_file:
    episodes = json.load(e_file)
    
for e in episodes:
    client['w4111_final']['episodes'].insert_one(e)

In [56]:
ratings_df = pandas.read_csv("./got_title_ratings.csv")
ratings_info = ratings_df[['tconst', 'averageRating', 'numVotes']]
r_dict = ratings_info.to_dict("records")

for r in r_dict:
    client['w4111_final']['ratings'].insert_one(r)

__Question:__

Write Python code that uses an aggregation pipeline and operations to produce the following table.

In [61]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current
#
# Write the query/aggregation that produces result

In [62]:
info_df = pandas.DataFrame(list(result))
info_df = info_df[['seasonNum', 'episodeNum', 'episodeLink', 'episodeTitle', 'avgRating', 'numVotes']]
info_df

,seasonNum,episodeNum,episodeLink,episodeTitle,avgRating,numVotes
0,1,1,tt1480055,Winter Is Coming,8.9,48686
1,1,2,tt1668746,The Kingsroad,8.6,36837
2,1,3,tt1829962,Lord Snow,8.5,34863
3,1,4,tt1829963,"Cripples, Bastards, and Broken Things",8.6,33136
4,1,5,tt1829964,The Wolf and the Lion,9.0,34436
...,...,...,...,...,...,...
68,8,2,tt6027908,A Knight of the Seven Kingdoms,7.9,130844
69,8,3,tt6027912,The Long Night,7.5,215995
70,8,4,tt6027914,The Last of the Starks,5.5,165067
71,8,5,tt6027916,The Bells,6.0,192449
72,8,6,tt6027920,The Iron Throne,4.0,248318

# Data Modeling and Schema Definition

- This is an exciting, interesting problem that involves:
    - Using Crow's Foot Notation
    - Relational approaches to implementing specialization, aggregation, quaternary relations, composite attributes and multi-valued attributes.
    - Foreign keys, check constraints and triggers.
    
- I did the answer and it took 3 hours to do all the work. My normal rule of thumb is that students require about 15 times as much time as I need to produce an answer.


- I giggled like the Riddler in Batman about how much fun we were going to have working on this question, and then the following happened.

<img src="./batman.png">


- So, there will not be any data modeling question on the exam. Darn!

# Module II Questions

- The questions require brief, written answers.

## Q1

__Question:__

Briefly explain:
- Functional Dependency
- Lossy Decomposition
- Normalization

__Answer:__

## Q2

__Question:__

Briefly explain:
- Serializability
- Conflict Serializability
- Deadlock
- Cascading Abort
- Two Phase Locking

__Answer:__

## Q3

__Question:__

Briefly explain:
- Logical block addressing, CHS addressing
- RAID-0, RAID-1, RAID-5
- Fixed length records, variable length records.

__Answer:__

## Q4

__Question:__

Briefly explain:
- Clustered Index
- Sparse Index
- Covering Index

__Answer:__

## Q5

__Question:__

Briefly explain:
- Equivalent queries
- Hash Join
- Materialization, Pipelining

__Answer:__